{% extends "base.html.twig" %}

{% block title %}Mon compte{{ parent() }}{% endblock %}

{% block style %}
    <link href="css/account.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block header %}Mon compte{% endblock %}

{% block content %}
    {% if form.valide is defined %}
        {% if form.valide == true %}
            <h4 class="h4 mb-4 alert alert-info" role="alert">{{ form.message }}</h4>
        {% else %}    
            <h4 class="h4 mb-4 alert alert-danger" role="alert">{{ form.message }}</h4> 
        {% endif %} 
    {% else %}
        <div class="col">
            <form method="post">
                <input type="text" name="nicknameUser" value="{{ form.user.nicknameUser }}" readonly disabled/>
                <input type="password" value="••••••••••" readonly disabled/>
                <input type="password" name="oldPasswd" id="oldPasswd" autocomplete="current-password" placeholder="Ancien mot de passe" required/>
                <input type="password" name="newPasswd" id="newPasswd" autocomplete="new-password" placeholder="Nouveau mot de passe" required/>
                <input type="password" name="confirmPasswd" id="confirmPasswd" autocomplete="new-password" placeholder="Confirmer votre nouveau mot de passe" required/>
                <div id="error"></div>
                <input type="submit" name="btModifyAccount" class="btn btn-md" value="Mettre à jour"/>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        changePasswd();
        function changePasswd() {
            oldPasswd = $('#oldPasswd');
            newPasswd = $('#newPasswd');
            confirmPasswd = $('#confirmPasswd');
            newPasswd.blur(function () {
                if (oldPasswd.val() === newPasswd.val()) {
                    $('#error').show();
                    $('#error').text("Veuillez choisir un mot de passe différent de l'ancien.");
                } else {
                    $('#error').hide();
                }
            });
            confirmPasswd.blur(function () {
                if (newPasswd.val() !== confirmPasswd.val()) {
                    $('#error').show();
                    $('#error').text("Les mots de passe ne correspondent pas.");
                } else {
                    $('#error').hide()
                }
            });
        }
    </script>
{% endblock %}