{% extends "base.html.twig" %}

{% block title %}Article{{ parent() }} {% endblock %}

{% block style %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/article.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block headers %}Article{% endblock %}

{% block content %} 
    {% for c in form.category %}   
        <h2 id="{{ c.labelCategory|lower }}">{{ c.labelCategory }}</h2>

        {% for a in form.article %}
            {% if a.labelCategory == c.labelCategory %}

                <div class="news-card">
                    <div class="meta">
                        <div class="img">{% if a.imageArticle == null %}<img src="img/articles/{{ a.labelCategory|lower }}.png"/>{% else %}<img src="img/articles/{{ a.imageArticle }}"/>{% endif %}</div>
                        <div class="details">
                            <div class="date">{{ a.dateArticle|date('d-m-Y') }}</div>
                            <div class="category">
                                <a href="index.php?page=category#{{ a.labelCategory|lower }}">{{ a.labelCategory }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <h2>{{ a.titleArticle }}</h2>
                        <p>{{ a.contentArticle }}</p>
                        <p class="read-more">
                            <a href="#">Read More</a>
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}

{% block script %}

{% endblock %}