<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %} | LCD{% endblock %}</title>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <!-- Google Fonts Roboto -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Material Design Bootstrap -->
        <link rel="stylesheet" href="css/mdb.min.css">
        <!-- Your custom styles (optional) -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="css/footer.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="css/newspaper.css">
        <style>
            .ui-autocomplete {
                max-height: 100px;
                overflow-y: auto;
                /* prevent horizontal scrollbar */
                overflow-x: hidden;
            }
        </style>
        {% block style %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="container-fluid pt-4">
                <h1><a href="index.php">Le Covid déchaîné</a></h1>
                <h2 id="title">{% block header %}{% endblock %}</h2>
                <div class="row today">
                    <div class="col-md-4">
                        <time>N°<span id="number"></span>&nbsp;<span id="date"></span></time>
                    </div>
                    <div class="col-md-4">
                        <span id="test" ng-app="demo" ng-controller="DemoCtrl as demoCtrl">
                            <ng-barcode
                                ng-barcode-input="{{'{{demoCtrl.barcodeInput}}'}}"
                                ng-barcode-code="code39">
                            </ng-barcode>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <div class='ui-widget'>
                            <input type="search" placeholder="Un article, un mot clé..." id="q" name="q" size="30" minlength="1" required autocomplete="off"/>
                            <button><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                {% block content %}

                {% endblock %}
            </div>

            <hr align="center" width="70%" color="#404040">

            <!-- Footer -->
            <footer class="page-footer arabia pt-4">

                <!-- Footer Links -->
                <div class="container text-center text-md-left">

                    <!-- Footer links -->
                    <div class="row text-center text-md-left mt-3 pb-3">

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Economie</h6>
                            <div id='rechercher'></div>
                            <p>
                                <a href="#!">Actualité</a>
                            </p>
                            <p>
                                <a href="?page=faq#economie">FAQ</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none">

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Droit</h6>
                            <p>
                                <a href="#!">Actualité</a>
                            </p>
                            <p>
                                <a href="?page=faq#droit">FAQ</a>
                            </p>
                        </div>

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none">

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Management</h6>
                            <p>         
                                <a href="#!">Actualité</a>
                            </p>
                            <p>
                                <a href="?page=faq#management">FAQ</a>
                            </p>
                        </div>

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none">

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Scolaire</h6>
                            <p>
                                <a href="#!">Actualité</a>
                            </p>
                            <p>
                                <a href="?page=faq#scolaire">FAQ</a>
                            </p>
                        </div>

                    </div>

                    <hr>

                    <div class="row text-center text-md-left">
                        {% if session.nicknameUser is defined %}
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                                <h6 class="text-uppercase mb-4 font-weight-bold">Bienvenue {{ session.nicknameUser }}</h6>
                                <p>
                                    <a href="?page=myaccount">Mon compte</a>
                                </p>
                                <p>
                                    <a href="?page=logout">Se déconnecter</a>
                                </p>
                            </div>
                            {% if session.idRoleUser == 2 %}
                                <hr class="w-100 clearfix d-md-none">
                                <!-- Grid column -->
                                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                                    <h6 class="text-uppercase mb-4 font-weight-bold">Administrateur</h6>
                                    <p>
                                        <a href="?page=panel">Panel</a>
                                    </p>
                                </div>
                            {% endif %}
                        {% else %}
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-center">
                                <h6 class="text-uppercase mb-4 font-weight-bold">Bienvenue</h6>
                                <p>
                                    <a href="?page=signin" class='btn btn-md border-danger'>Inscription</a>                                   
                                </p>

                                <p>
                                    <a href="?page=login" class='btn btn-md border-danger'>Connexion</a>                       
                                </p>

                            </div>                        
                        {% endif %}
                        <hr class="w-100 clearfix d-md-none">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-center">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                            <div>
                                <a href="?page=contact">Formulaire de contact</a>
                            </div>
                            <div>
                                <a href="mailto:symfony4.4017@gmail.com">Envoyer un mail directement</a>
                            </div>
                        </div>    

                        <hr class="w-100 clearfix d-md-none">

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-center">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Règles</h6>
                            <div>
                                <a href="?page=cgu">Conditions Générales d'Utilisation</a>
                            </div>
                            <div>
                                <a href="?page=mentions">Mentions Légales</a>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row text-center text-md-left">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Newsletter</h6>
                            <div class='alert alert-success' id='msgNewsletterOk'></div>
                            <div class='alert alert-danger' id='msgNewsletterNotOk'></div>
                            <form method="post" id='newsletter'>
                                <div class='form-group'>
                                    <input type="email" name="email" placeholder="Email" class='form-control' required/>
                                    <input type="submit" name="btNewsletter" value="S'inscrire" class='btn btn-md'/>
                                </div>
                            </form>
                        </div>
                    </div>

                    <hr>

                    <!-- Footer links -->                    
                    <!-- Grid row -->
                    <div class="row d-flex align-items-center">

                        <!-- Grid column -->
                        <div class="col-md-7 col-lg-8">

                            <!--Copyright-->
                            <p class="text-center text-md-left">© 2020 Copyright:
                                <a href="./">
                                    <strong>Le Covid Déchaîné</strong>
                                </a>
                            </p>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Footer Links -->

            </footer>
            <!-- Footer -->
        {% endblock %}
        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="js/mdb.min.js"></script>
        <script>
$("#date").append(
        new Date().toLocaleDateString('fr-FR', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        );
        </script>
        <script>
            $('#number').append(
                    Math.floor(Math.random() * (999)) + 1
                    );
        </script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
        <script type="text/javascript" src="//rawgit.com/LuigiQuarta/ng-barcode/master/dist/ng-barcode.min.js"></script>
        <script>
            angular.module('demo', ['ngBarcode']).controller('DemoCtrl', [DemoCtrl]);

            function DemoCtrl() {
                this.barcodeInput = $('#number').html();
            }
        </script>
        <script>
            $(function () {
                $('#q').autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "index.php?page=resultsearch",
                            type: 'post',
                            dataType: "json",
                            data: {
                                search: request.term
                            },
                            success: function (data) {
                                response(data);
                            },
                            error: function (result, statut, error) {
                                console.log(error);
                            }
                        });
                    }
                });
            });
        </script>
        <script>
            $('#msgNewsletterOk').hide();
            $('#msgNewsletterNotOk').hide();
            $(function () {
                $('#newsletter').submit(function () {
                    email = $(this).find("input[name=email]").val();
                    $.ajax({
                        url: "?page=newsletter",
                        type: 'post',
                        data: {
                            email: email
                        },
                        success: function (data) {
                            console.log(data);
                            $('#newsletter').hide();
                            $('#msgNewsletterOk').show();
                            $('#msgNewsletterOk').append("Votre inscription à la newsletter a bien été prise en compte.");
                        },
                        error: function (result, statut, error) {
                            console.log(error);
                            $('#newsletter').hide();
                            $('#msgNewsletterNotOk').show();
                            $('#msgNewsletterNotOk').append("Une erreur s'est produite.");
                        }
                    });
                    return false;
                });
            });
        </script>
        <script src="js/newsletter.js" type="text/javascript"></script>
        {% block script %}{% endblock %}
    </body>
</html>
