{% extends "base.html.twig" %}

{% block title %}Contact{{ parent() }}{% endblock %}

{% block style %}

{% endblock %}

{% block header %}Contact{% endblock %}

{% block content %}
    {% if form.valide is defined %}
        {% if form.valide == true %}
            {{ form.message }}
        {% else %}
            {{ form.message }}
        {% endif %}
    {% else %}
        <div class="h-responsive w-responsive form-group">
            <form action="?page=contact" class="bg-light" method="post">
                <input type="text" name="email" placeholder="Votre email..." required/>
                <textarea name="reason" col="15" row="15" placeholder="Votre raison détaillée ici..." required></textarea>
                <input type="submit" name="btSendForm" value="Envoyer" class="btn btn-md"/>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block script %}

{% endblock %}