{% extends "base.html.twig" %}

{% block title %}Accueil{{ parent() }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="css/index.css">
    {#    <link href="css/carousel.css" rel="stylesheet" type="text/css"/>#}
{% endblock %}


{% block header %}Accueil{% endblock %}

{% block content %}
    <div class="container">
        <div class="col article">
            <h2>Le Coronavirus (Covid-19), qu'est-ce que c'est ?</h2>
            <div id="index-content">
                <p>La maladie nommée COVID-19 ou plus communément Coronavirus est une ‎maladie infectieuse découverte récemment. ‎
                    La majorité des personnes atteintes de cette maladie ‎ne ressentiront que des symptômes bénins ou ‎modérés et guériront sans traitement particulier. ‎
                    Propagation
                    Le virus qui entraîne le COVID-19 se transmet ‎principalement par des gouttelettes produites ‎lorsqu’une personne infectée tousse, éternue, ou ‎lors d’une expiration. Ces gouttelettes sont trop ‎lourdes pour rester dans l’air et tombent ‎rapidement sur le sol ou sur toute surface proche.‎
                    Vous pouvez être infecté en respirant le virus, si ‎vous êtes à proximité d’une personne malade, ou en ‎touchant une surface contaminée puis vos yeux, ‎votre nez ou votre bouche.‎
                </p>
                <div id="index-content2"> 
                    <table class="table table-responsive-md">
                        <caption>Les données proviennent de cette <a href="//covid19api.com">API</a>, elles ont été actualisées le <span id="refreshDate"></span> à <span id="heure"></span>.</caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th scope="col">Monde&nbsp;(<span id="nb"></span>)</th>
                                <th scope="col" id="pays"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Cas confirmés</th>
                                <th id="TotalConfirmed"></th>
                                <th id="totalConfirmed"></th>
                            </tr>
                            <tr>
                                <th>Guérisons</th>
                                <th id="TotalRecovered"></th>
                                <th id="totalRecovered"></th>
                            </tr>
                            <tr>
                                <th>Décès</th>
                                <th id="TotalDeaths"></th>
                                <th id="totalDeaths"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {#<div class="bs-example">
             <div id="myCarousel" class="carousel slide" data-ride="carousel">
                 <!-- Carousel indicators -->
                 <ol class="carousel-indicators">
                     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                     <li data-target="#myCarousel" data-slide-to="1"></li>
                     <li data-target="#myCarousel" data-slide-to="2"></li>
                 </ol>
                 <!-- Wrapper for carousel items -->
                 <div class="carousel-inner">
                     <div class="carousel-item active">
                         <img src=".." alt=""/>
                     </div>
                     <div class="carousel-item">
                         <img src=".." alt="">
                     </div>
                     <div class="carousel-item">
                         <img src=".." alt="">
                     </div>
                 </div>
                 <!-- Carousel controls -->
                 <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                     <span class="carousel-control-prev-icon"></span>
                 </a>
                 <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                     <span class="carousel-control-next-icon"></span>
                 </a>
             </div>
         </div>#}
{% endblock %}

{% block script %}
    <script>
        function formatDataNumber(number) {
            const arrayNumber = number.toString().split("");
            let count = 0;
            let processedNumber = [];
            for (let i = arrayNumber.length - 1; i >= 0; i--) {
                if (count === 3) {
                    processedNumber.unshift(" ");
                    count = 0;
                }
                processedNumber.unshift(arrayNumber[i]);
                count++;
            }
            return processedNumber.join("");
        }

        fetch('https://api.covid19api.com/summary')
                .then(response => response.json())
                .then(json => {
                    const arrayCountry = json.Countries.filter(aCountry => {
                        return aCountry.TotalConfirmed > 0;
                    });
                    document.getElementById("nb").innerHTML = arrayCountry.length.toString() + " pays concernés";
                    return arrayCountry.length;
                }).catch(e => {
            console.log(e);
        });

        fetch('https://api.covid19api.com/summary')
                .then(response => response.json())
                .then(json => {

                    const countryObject = json.Countries.find(aCountry => aCountry.Country === "France");
                    const refreshDate = new Date(countryObject.Date);
                    document.getElementById("TotalConfirmed").innerHTML = formatDataNumber(json.Global.TotalConfirmed);
                    document.getElementById("TotalRecovered").innerHTML = formatDataNumber(json.Global.TotalRecovered);
                    document.getElementById("TotalDeaths").innerHTML = formatDataNumber(json.Global.TotalDeaths);
                    document.getElementById("pays").innerHTML = countryObject.Country;
                    document.getElementById("totalConfirmed").innerHTML = formatDataNumber(countryObject.TotalConfirmed);
                    document.getElementById("totalDeaths").innerHTML = formatDataNumber(countryObject.TotalDeaths);
                    document.getElementById("refreshDate").innerHTML = refreshDate.toLocaleDateString();
                    document.getElementById("heure").innerHTML = `${refreshDate.getHours()}:${refreshDate.getMinutes() < 10 ? '0' : ''}${refreshDate.getMinutes()}`;
                    document.getElementById("totalRecovered").innerHTML = formatDataNumber(countryObject.TotalRecovered);

                }).catch(e => {
            console.log(e);
            document.getElementById("index-content2").innerHTML = "Données actuellement non disponibles ";
        });
    </script>
{% endblock %}