{% extends "base.html.twig" %}

{% block title %}Inscription{{ parent() }} {% endblock %}

{% block body %} 
    {% if form.valide is defined %} 
        {% if form.valide == true %}
            <div class="alert-success">
                <p class="h3 mb-3 font-weight-normal">Inscription réussie !</p>
                <p class="h3 mb-3 font-weight-normal">Voici votre identifiant : {{form.emailUser}}</p>
                <p class="h3 mb-3 font-weight-normal"><a href="index.php?page=login">Connectez-vous</a></p>
            </div>
        {% else %} 
            <div class="alert-danger">
                <p class="h3 mb-3 font-weight-normal">Echec de l'inscription</p> 
                <p class="alert alert-danger" role="alert">{{ form.message }}</p> 
                <p class="h3 mb-3 font-weight-normal"><a href="index.php?page=signin">Retourner sur la page d'inscription</a></p>
            </div>
        {% endif %}     

    {% else %}
        <div class="container">
            <form name="signin" class="form-signin" action="index.php?page=signin" method="post" enctype="application/x-www-form-urlencoded">
                <h1 class="h3 mb-3 font-weight-normal">Inscrivez-vous au tableau de bord</h1>

                <label for="nicknameUser" class="sr-only">Pseudo:</label>
                <input type="text" id="nicknameUser" name="nicknameUser" class="form-control" placeholder="Pseudonyme..." required autofocus>

                <label for="passwordUser1" class="sr-only">Mot de passe:</label>
                <input type="password" id="passwordUser1" name="passwordUser1" class="form-control" placeholder="Mot de passe" required>

                <label for="passwordUser2" class="sr-only">Mot de passe:</label>
                <input type="password" id="passwordUser2" name="passwordUser2" class="form-control" placeholder="Confirmation mot de passe" required>

                <input type="hidden" id="idRole" name="idRole" value="1" required>
                <button id="btSignin" class="btn btn-sm btn-block" type="submit" name="btSignin">S'inscrire</button>

            </form>

            <a href="index.php?page=login">Se connecter</a>  
        </div>
    {% endif %} 
{% endblock %}