/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 avr. 2020, 02:16:22
    Author     : Marceau
*/

::selection {
    background: #808080;
    color: #E6E6E6;
}

::-moz-selection {
    background: #808080;
    color: #E6E6E6;
}


h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans Narrow', sans-serif;
}

h2 {
    font-size: 3em;
    line-height: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 2.4em;
    margin: 0px;
    padding: 0px;
    line-height: 0.8em;
    padding-top: 20px;
}

@media only all and (min-width: 600px) {
    article {
        -moz-columns: 2;
        /* How many columns? */

        -webkit-columns: 2;
        columns: 2;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
        line-height: 1.5em;
        font-size: 1em;
        -webkit-column-rule: 2px outset #444;
        -moz-column-rule: 2px outset #444;
        column-rule: 2px outset #444;
    }
    h1 {
        font-size: 6em;
        column-span: all;
        -webkit-column-span: all;
    }
    .today {
        column-span: all;
        -webkit-column-span: all;
    }
    p {
        text-align: justify;
        text-justify: inter-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        hyphenate-character: "\u2605";
    }
}

caption {
    text-align: center;
}

.article {
    padding: 30px;
    border: black solid thin;
}