body {
    font-family: 'PT Serif', serif;
    background-color: #f9f7f1;
    color: #404040;
    min-height: 100%;
}

#test {
    color: #404040;
}

h1 > a, h1 > a:hover {
    color: #404040;
}

h1 {
    font-family: 'Alfa Slab One', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    line-height: 1em;
    text-align: center;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
    margin-bottom: 32px;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans Narrow', sans-serif;
}

h2 {
    font-size: 3em;
    line-height: 1em;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

h3 {
    font-size: 2.4em;
    margin: 0px;
    padding: 0px;
    line-height: 0.8em;
    padding-top: 20px;
}

.today { 
    text-align: center;
    border-bottom: #000000 solid;
    border-top: #000000 solid;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.6em;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.checkbox {
  display: block;
  padding-left: 15px;
  text-indent: 0px;
}

input[type=checkbox] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

button, input:not([name="q"]), textarea, select, option {
    background: transparent;
    border: none;
    outline: none;
}

@media only all and (min-width: 600px) {
    article {
        -moz-columns: 1;
        /* How many columns? */

        -webkit-columns: 1;
        columns: 1;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
        line-height: 1.5em;
        font-size: 1em;
        -webkit-column-rule: 2px outset #444;
        -moz-column-rule: 2px outset #444;
        column-rule: 2px outset #444;
        text-align: center;
    }
    h1 {
        font-size: 6em;
        column-span: all;
        -webkit-column-span: all;
    }
    .today {
        column-span: all;
        -webkit-column-span: all;
    }
    p {
        text-align: justify;
        text-justify: inter-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        hyphenate-character: "\u2605";
    }

}